.card {
  height: 170px;
}

.card .image-container {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card .image-container .no-photo {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
